<%- include('header'); %>
<header id="header">
  <div>
    <button type="button" class='btn btn-success action' data-action='api/local/action/start'>Start</button>
    <button type="button" class='btn btn-success action' data-action='api/local/action/pause'>Pause</button>
    <button type="button" class='btn btn-success action' data-action='api/local/action/resume'>Resume</button>
    <button type="button" class='btn btn-success action' data-action='api/local/action/dock'>Dock</button>
    <button type="button" class='btn btn-success action' data-action='api/local/action/stop'>Stop</button>
    <!--button type="button" class='btn btn-info action' data-action='api/local/info/sys'>Test Sys</button-->
    <button type="button" class='btn btn-info' id='menu-center'>Center</button> 
    <button type="button" class='btn btn-info' id='menu-fit'>Auto Fit</button> 
    <a type="button" class='btn btn-warning' id='menu-download'>Download Image</a>
    <!-- Trigger the modal with a button -->
    <button type="button" class='btn btn-danger' id='menu-select-map' data-toggle="modal" data-target="#selectMapModal">Select map</button>
    <button type="button" class='btn btn-danger' id='menu-clear-map'>Clear map</button>
    <button type="button" class='btn btn-danger' id='menu-replay'>Replay</button> 
    <button type="button" class='btn btn-danger' id='menu-start-mapping'>Start live</button> 
    <button type="button" class='btn btn-danger' id='menu-stop-mapping'>Stop mapping</button> 
  </div>
  <div>Command response: <span id='apiresponse'>ok</span></div>
  <div hidden>Status: <span class='' id='mapStatus' style='white-space:nowrap;'></span></div>
</header>

<!-- Modal -->
<div id="selectMapModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Select Map</h4>
      </div>
      <div class="modal-body">
        <table id="maps_table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Mission</th>
                    <th>Steps</th>
                </tr>
            </thead>
            <tbody class="table">
            </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Cancel</button>
        <button type="button" id="ok_map_table" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>
    </div>

  </div>
</div>


<div id="map" style="position: relative; width=100%;">
  <canvas id="area_layer"  style="position: absolute; left: 0; top: 0; z-index: 0; border:1px solid #d3d3d3;"></canvas>
  <canvas id="path_layer"  style="position: absolute; left: 0; top: 0; z-index: 1; border:1px solid #d3d3d3;"></canvas>
  <canvas id="robot_body_layer" style="position: absolute; left: 0; top: 0; z-index: 2; border:1px solid #d3d3d3;"></canvas>
  <canvas id="text_layer" style="position: absolute; left: 0; top: 0; z-index: 3; border:1px solid #d3d3d3;"></canvas>
</div>

<div style='float:right; text-align:right'>
  <table class='info' cellspacing="1">
    <tr><td>Last point:</td><td class='data'><span id='last'></span></td></tr>
    <tr><td>Mission Time:</td><td class='data'><span id='mission'></span></td></tr>
    <tr><td>Mission:</td><td class='data'><span id='nMssn'></span></td></tr>
    <tr><td>Bin present:</td><td class='data'><span id='bin'></span></td></tr>
    <tr><td>Bin full:</td><td class='data'><span id='full'></span></td></tr>
    <tr><td>Cycle:</td><td class='data'><span id='cycle'></span></td></tr>
    <tr><td>Phase:</td><td class='data'><span id='phase'></span></td></tr>
    <tr><td>Flags:</td><td class='data'><span id='flags'></span></td></tr>
    <tr><td>Battery:</td><td class='data'><span id='batPct'></span></td></tr>
    <tr><td>Error:</td><td class='data'><span id='error'></span></td></tr>
    <tr><td>Sqft:</td><td class='data'><span id='sqft'></span></td></tr>
    <tr><td>expireM:</td><td class='data'><span id='expireM'></span></td></tr>
    <tr><td>rechrgM:</td><td class='data'><span id='rechrgM'></span></td></tr>
    <tr><td>notReady:</td><td class='data'><span id='notReady'></span></td></tr>
    <tr><td>theta:</td><td class='data'><span id='theta'></span></td></tr>
    <tr><td>x:</td><td class='data'><span id='x'></span></td></tr>
    <tr><td>y:</td><td class='data'><span id='y'></span></td></tr>
    <tr><td>&nbsp;</td><td></td></tr>
    <tr><td>steps:</td><td class='data'><span id='steps'></span></td></tr>
    <tr><td>zoom:</td><td class='data'><span id='zoom'></span></td></tr>
    <tr><td>map:</td><td class='data'><span id='map_name'></span></td></tr>
  </table>
</div>

<script src="<%=rootPath%>/js/map.js"></script>

<script src="<%=rootPath%>/js/bmap.js"></script>

<%- include ('footer'); %>
