<%- include('mheader'); %>

<style scoped>
  :root {
    --mdc-theme-primary:     #009688;
    --mdc-theme-secondary:   #7c4dff;
    --mdc-theme-background:  #f0f0f0;
  }

  .onTopOfEachOther {
      position: relative;
  }
  .onTopOfEachOther section {
      position: absolute;
      top: 0px;
      left: 0px;
  }
  
  .map-selection-card {
    margin: auto;
    width: 80%;
    margin-top: 20px;
  }

  .mdc-fab .material-icons {
    margin: auto;
  }
</style>

<!-- Secondary Fab Buttons -->
<div class="map-sec-fixed-fab-cont">
  <div>
    <button class="mdc-fab map-sec-fab mdc-fab--mini mdc-fab--exited" id='sec-fab-dock' data-mdc-auto-init="MDCRipple">
      <span class="mdc-fab__icon material-icons">home</span>
    </button>
  </div>
  <div>
    <button class="mdc-fab map-sec-fab mdc-fab--mini mdc-fab--exited" id='sec-fab-stop' data-mdc-auto-init="MDCRipple">
      <span class="mdc-fab__icon material-icons">stop</span>
    </button>
  </div>
</div>

<!-- Main Fab Button -->
<button class="mdc-fab map-fixed-fab mdc-fab--exited map-main-fab" id='main-fab-play' data-mdc-auto-init="MDCRipple">
  <span class="mdc-fab__icon material-icons">play_arrow</span>
</button>
<button class="mdc-fab map-fixed-fab mdc-fab--exited map-main-fab" id='main-fab-pause' data-mdc-auto-init="MDCRipple">
  <span class="mdc-fab__icon material-icons">pause</span>
</button>

<header class="mdc-toolbar mdc-toolbar--fixed">
  <div class="mdc-toolbar__row">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start map-home-header">
      <span class="map-menu">
        <a href="#" class="mdc-toolbar__menu-icon"><i class="material-icons">menu</i></a>
      </span>
      <span class="mdc-toolbar__title" style="width: 100%;">Roomba Live Map</span>
    </section>
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start map-sub-header">
      <span class="map-back">
        <a href="#" class="mdc-toolbar__menu-icon"><i class="material-icons">arrow_back</i></a>
      </span>
      <span class="mdc-toolbar__title map-sub-title"></span>
    </section>
    <section class="mdc-toolbar__section mdc-toolbar__section--align-end mdc-toolbar__section--shrink-to-fit">
      <span class="mdc-toolbar__icon map-hidden map-icon-no-pointer" id="map_icon_warning"><i class="material-icons">warning</i></span>
      <span class="mdc-toolbar__icon map-hidden map-icon-no-pointer" id="map_icon_binfull"><i class="material-icons">delete</i></span>
      <span class="mdc-toolbar__icon map-hidden map-icon-no-pointer" id="map_icon_binmissing"><i class="material-icons">delete_forever</i></span>
      <span class="mdc-toolbar__icon map-hidden map-icon-no-pointer" id="map_icon_mission"><i class="material-icons">play_circle_filled</i></span>
      <span class="mdc-toolbar__icon map-hidden map-icon-no-pointer" id="map_icon_dock"><i class="material-icons">home</i></span>
      <span class="mdc-toolbar__icon map-icon-no-pointer" id="map_icon_battery"><i id="map_icon_battery_charging" class="material-icons map-hidden">battery_charging_full</i><i id="map_icon_battery_std" class="material-icons">battery_std</i><span id="map_icon_battery_qty">--</span>%</span>
    </section>
  </div>
</header>

<aside class="mdc-temporary-drawer">
  <nav class="mdc-temporary-drawer__drawer">
    <header class="mdc-temporary-drawer__header">
      <div class="mdc-temporary-drawer__header-content mdc-theme--primary-bg mdc-theme--text-primary-on-primary">
        Map actions
      </div>
    </header>
    <nav class="mdc-temporary-drawer__content mdc-list-group">
      <div class="mdc-list">
        <a class="mdc-list-item mdc-temporary-drawer--selected" id='menu-select-map'>
          <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">list</i>Select map
        </a>
        <a class="mdc-list-item" id='menu-clear-map'>
          <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">clear</i>Clear map
        </a>
        <a class="mdc-list-item" id='menu-replay'>
          <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">replay</i>Replay
        </a>
        <a class="mdc-list-item" id='menu-start-mapping'>
          <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">play_arrow</i>Start live
        </a>
        <a class="mdc-list-item" id='menu-stop-mapping'>
          <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">stop</i>Stop mapping
        </a>
      </div>

      <hr class="mdc-list-divider">

      <div class="mdc-list">
        <a class="mdc-list-item" id='menu-download'>
          <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">file_download</i>Download Image
        </a>
      </div>
    </nav>
  </nav>
</aside>

<main>
  <div class="mdc-toolbar-fixed-adjust" id='header'></div>

  <!-- Map -->
  <div id="map" class="map-home-page" style="position: absolute;">
    <canvas id="area_layer" style="position: absolute; left: 0; top: 0; z-index: 0;"></canvas>
    <canvas id="path_layer" style="position: absolute; left: 0; top: 0; z-index: 1;"></canvas>
    <canvas id="robot_body_layer" style="position: absolute; left: 0; top: 0; z-index: 2;"></canvas>
    <canvas id="text_layer" style="position: absolute; left: 0; top: 0; z-index: 3;"></canvas>
  </div>
  <div id="maplist" class="map-sub-page" style="position: absolute; display: none; width: 100%;">
    <div class="mdc-card map-selection-card">
      <section class="mdc-card__supporting-text">
        <nav class="mdc-list" id='map_selection_list' data-demo-interactive-list>
        </nav>
      </section>
    </div>
  </div>

</main>

<div id="map-snackbar" class="mdc-snackbar" aria-live="assertive" aria-atomic="true" aria-hidden="true">
  <div class="mdc-snackbar__text"></div>
  <div class="mdc-snackbar__action-wrapper">
    <button type="button" class="mdc-snackbar__action-button"></button>
  </div>
</div>

<script src="<%=rootPath%>/js/map.js"></script>

<script src="material-components-web/dist/material-components-web.js"></script>

<script src="<%=rootPath%>/js/mmap.js"></script>

<%- include('mfooter'); %>
